@{
    ViewData["Title"] = "Home Page";
}

<div id="ts-example">
    <br />
    <button type="button" class="btn btn-primary btn-md" onclick="TSButton()">
        Click Me
    </button>
</div>

<script src="~/js/MainPageScripts.min.bundle.js"></script>
<style src="/css/all.css"></style>