@model WebUI.Models.User.IndividualPetOwnerUserProfileDTO

<div class="form-floating mb-3">
    <input asp-for="ShortDescription" class="form-control" placeholder="Please enter your Description." />
    <label asp-for="ShortDescription" class="form-label"></label>
    <span asp-validation-for="ShortDescription" class="text-danger"></span>
</div>
<button asp-controller="Users" asp-action="TryToChangeProfileSettings_IndividualPetOwner" id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>