@{
    Roles Role = Roles.NoRole; // ToDo: change it;
}

@functions {
    string IsActive(string Id) // set style for active item
    {
        string activeId = ViewData["CurrentId"]?.ToString() ?? ""; // smells bad?
        return Id == activeId ? "active" : "";
    }
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @IsActive("profile")" id="profile" asp-controller="UserSettings" asp-action="Profile">Profile</a></li>

    @if (Role == Roles.IndividualPetOwner || Role == Roles.Company)
    {
        <li class="nav-item"><a class="nav-link @IsActive("pets")" id="pets" asp-controller="PetOwner" asp-action="Pets">Pets</a></li>
    }
</ul>