@model CreateRedactPetDto
@{
    ViewData["Title"] = "Create pet";
    ViewData["CurrentId"] = "pets";
}

<form method="post">
    <h2>@ViewData["Title"]:</h2>

    <partial name="_CreateRedactPartial" model="Model" />

    <button asp-controller="UserSettings" asp-action="CreateNewPet" type="submit" class="w-100 btn btn-lg btn-primary">Create</button>
</form>