@model IList<WebUI.Models.Pet.PetCardForCartDTO>?

@if (Model == null || Model.Count == 0)
{
    <div>
        Basket Is Empty!
    </div>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Pet:</th>
                <th>Owner:</th>
                <th>Price:</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody id="partialBasket">
            @foreach(var pet in Model)
            {
                <partial name="_PetCardForCart.cshtml" model="pet"/>
            }
        </tbody>
    </table>
}