@page
@using Contact_zoo_at_home.Server.Identity;
@model Contact_zoo_at_home.Server.Pages.Register.Index
@{
}
<form asp-page="/Account/Register/Index">
    <div>
        <input asp-for="Input.ReturnUrl" type="hidden" />
    </div>
    <div>
        <label asp-for="Input.Username"></label>
        <input asp-for="Input.Username" />
        <span asp-validation-for="Input.Username"></span>
    </div>
    <div>
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" />
        <span asp-validation-for="Input.Password"></span>
    </div>
    <div>
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" />
        <span asp-validation-for="Input.ConfirmPassword"></span>
    </div>
    <div class="form-floating mb-3">
        <label asp-for="Input.DesigredRole" class="align-top">Your Role</label> @*To Do: Fix design*@
        <input type="radio" aria-required="true" asp-for="Input.DesigredRole" value="@Roles.Customer" /> Customer
        <input type="radio" asp-for="Input.DesigredRole" value="@Roles.IndividualPetOwner" /> Pet Owner
        <span asp-validation-for="Input.DesigredRole" class="text-danger"></span>
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
    <div>
        <a asp-page="/Account/Login/Index" asp-route-returnUrl="@Model.Input.ReturnUrl">Login</a>
    </div>
</form>
